@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
  font-weight: 500;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header
{
  display: flex;
  justify-content: space-between;
}

.left-links
{
  display: flex;
}

.left-links li
{
  margin: 10px;
  list-style: none;
}

.left-links li a
{
  text-decoration: none;
  color: rgb(65, 65, 65);
  font-weight: 500;
}

.right-links
{
  display: flex;
}

.right-links li
{
  margin: 10px;
  list-style: none;
}

.right-links li a
{
  text-decoration: none;
  color: rgb(65, 65, 65);
  font-weight: 500;
}

.content
{
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.footer
{
  display: flex;
  justify-content: space-between;
  background: #eeeeee;
  padding-bottom: 50px;
}